.App {
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f8;
}

body {
  margin: 0;
  padding: 0;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.JoinChat {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 12%;
}

.LeaveChat {
  padding-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.centerIcon {
  align-items: center;
}

.chatContainer {
  position: relative;
  margin: 1% 1% 1% 1%;
  padding: 10px 5px 10px 5px;
  width: 98%;
  height: 85%;
  border: 2px solid #dbdbe2;
  border-radius: 10px;
  background-color: white;
}

.adminChatContainer {
  position: relative;
  margin: 1% 1% 1% 1%;
  padding: 10px 5px 10px 5px;
  height: 95%;
  border: 2px solid #dbdbe2;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.chatInputs {
  position: absolute;
  bottom: 0;
  width: 98%;
  display: flex;
  height: 10%;
  align-items: center;
  margin-bottom: 10px;
}

.chatInputs input[type='text'] {
  position: absolute;
  bottom: 0;
  width: 87%;
  height: 80%;
  padding: 12px 20px;
  border: 2px solid #59606d;
  border-radius: 5px;
  font-size: 12pt;
  margin-left: 8%;
  margin-right: 6%;
}

.sendButton button[type='submit'] {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4%;
  height: 80%;
  min-width: 20px;
  min-height: 20px;
  color: #648386;
  border: 0px;
  background-color: white;
}

.sendButton button[type='submit']:hover {
  color: #8ec2c7;
}

.sendButton button[type='submit']:active {
  color: #3d575a;
}

.attachFileButton button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4%;
  min-width: 20px;
  min-height: 20px;
  height: 80%;
  color: #648386;
  border: 0px;
  background-color: white;
}

.attachFileButton button:hover {
  color: #8ec2c7;
}

.attachFileButton button:active {
  color: #3d575a;
}

.shareLocationButton button {
  position: absolute;
  bottom: 0;
  width: 4%;
  min-width: 20px;
  min-height: 20px;
  height: 80%;
  color: #648386;
  border: 0px;
  background-color: white;
  margin-left: 4%;
}

.shareLocationButton button:hover {
  color: #8ec2c7;
}

.shareLocationButton button:active {
  color: #3d575a;
}

.chatMessages {
  height: 90%;
  width: 100%;
  border-radius: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  overflow-anchor: none;
}

.chatMessages::-webkit-scrollbar {
  width: 12px;
}

.chatMessages::-webkit-scrollbar-track {
  background-color: #d5d5d5;
  border-radius: 10px;
}

.chatMessages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #868b92;
}

.message {
  height: auto;
  width: fit-content;
  max-width: calc(max(40%, 200px));
  overflow-wrap: break-word;
  list-style-type: none;
  margin-bottom: 12px;
  overflow-anchor: auto;
}

.message__bubble {
  font-size: 12pt;
  border: 1px solid #59606d;
  border-radius: 18px;
  padding: 8px 14px;
}

.message__image {
  max-width: 200px;
  border: 1px solid #59606d;
  border-radius: 18px;
}

.message__location-preview {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #59606d;
  border-radius: 18px;
}

.message__location-text {
  font-size: 10pt;
  text-align: center;
  margin-bottom: 6px;
}

.message__name {
  display: block;
  font-size: 10pt;
}

.message--right {
  margin-left: auto;
  margin-right: 50px;
  text-align: right;
}

.message--right * {
  margin-left: auto;
  margin-right: 0;
}

.message--right .message__name {
  justify-content: flex-end;
}

.message--right .message__bubble {
  background-color: #c6f1e7;
  width: fit-content;
}

.message--left {
  margin-right: auto;
}

.message--left .message__bubble {
  background-color: #ececec;
  width: fit-content;
}

.message--bot .message__bubble{
  background-color: #dcfbfd;
  border-color: #b7d5d7;
}

.chooseThread {
  color: #59606d;
  margin-bottom: 25%;
  border: 5px solid black;
  width: fit-content;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border: 2px solid #dbdbe2;
  border-radius: 10px;
  margin: auto;
}

.ai-suggestions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1%;
  max-width: 95%;
}