.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 300px;
  background-color: #648386;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarLogo {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  user-select: none;
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #5e8b8f;
}

.SidebarList .row:active {
  background-color: #557b7f;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.JoinChat {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.LeaveChat {
  padding-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}